<div class="form_block">
  <div class="form_inner">
    <div class="personal_datail bg-dark rounded border border-primary">

      <form action="/loginUser" method="post">
        <h1 class="text-center h1 fw-bold mb-5 mx-1 text-white mt-3">LOGIN</h1> 
        <div class="form-group">
          <label for="email">email</label>
          <input type="email" name="email" class="form-control" placeholder="Enter Your Email" />
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" name="password" class="form-control" placeholder="Enter Your password" />
        </div>
        <div class="form-group mt-5">
          <button type="submit" name="submit" class="submit-button">Login</button>
        </div>
      </form>
      <div class="text-center mt-5">
        <p class="text-center text-muted mt-5 mb-0">
          Don't have an account? <a href="/" class="fw-bold text-white"><u>Register here</u></a>
        </p>
      </div>
    </div>
  </div>
</div>

