<div class="form_block">
    <div class="form_inner">
      <div class="personal_datail bg-dark p-5 rounded border border-primary">
        <form action="/uploadImg" method="post" enctype="multipart/form-data">          
          <div class="form-group">
            <label for="photo gallery">user image</label>
            <input type="file" name="gallery" multiple class="form-control" id="forFile" />
          </div>
          <div class="form-group">
            <button type="submit" name="submit" class="submit-button">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>